/* .App {
  background-color: #c4c4c4;
  width: 620px;
  height: 283px;
  position: relative;
} */

.Content {
  background-color: #c4c4c4;
  width: 620px;
  height: 283px;
  position: relative;
  margin-bottom: 25px;
}

.Content h1 {
  position: absolute;
  left: 16px;
  top: 15px;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
}
.Content p {
  font-size: 18px;
  line-height: 21px;
  position: absolute;
  left: 16px;
  top: 67px;
}
